* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: ui-sans-serif, sans-serif;
    color:white
}
h1{
    font-weight: bold;
    text-decoration-color: white;
    text-align: center;
    font-size: 175%;
}

h2{
    font-weight: bold;
    text-align: center; position: center;
    text-decoration-color: black;
    font-size: 2em;
    margin-top: 10px;
}
.head{
    margin-top: 20px;
}
div.section{
    background-color: darkred;
    border: #000000 solid 2px;
    width: 90%;
    margin: 5%;
}
.section-head h2{
    font-weight: normal;
    color: white;
}
div.section-head{
    border: solid black; 2px;
    border-top: 0px;
    border-right: 0px;
    float: right;
    text-align: center;
    width: 150px;
}
div.section-body{
    clear: right;
    padding: 10px;
    font-size: 20px;
}
.navbar{
    background-color: darkred;
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    text-decloration: white;
}
.navbar a{
    text-decoration: none;
    text-color: white;
}
.navbar-brand{
    padding-left: 5%;
    text color: white;
}
#collapsable-nav{
    background-color: white;
    text-align: center;
    border: solid 2px black;
    font-size: 1.5em;
}
.collapse li{
    width: 100%;
    text-align: center;
    border-bottom: solid 2px black;
}
.navbar-toggler{
    margin: 15px;
}
.visible-xs{
    visibility: hidden;
}
@media (min-width: 992px){
    .col-lg-4{
        float: center;
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6 {
        float: left;
        width: 50%;
      }
    .col-md-12 {
        float: left;
        width: 100%;
        margin-left: -20px;
        
    }
    .col-md-12>div.section{
        width: 95%;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
        float: left;
      width: 100%;
    }
    .visible-xs{
        visibility: visible;
    }
}

.s1 {
    background-color: darkred;
    align-content: center;
    text-decoration-color: white;
}

.s2 {
    background-color: darkred;
    align-content: center;
    text-decoration-color: white;
}

.s3 {
    background-color: darkred;
    align-content: center;
    text-decoration-color: white;
}

/***Link***/
#href a:link {
  color: blue;
  text-decoration: underline; 
}

#href a:vistited {
  color: blue;
  text-decoration: underline; 
}

 #href a:hover {
  color: blue;
  text-decoration: underline;
}

#href a:active {
  color: blue;
  text-decoration: underline;
  }