* {
    box-sizing: border-box;
}

#header-nav {
    background-color: #150505;
    border-radius: 0;
    border: 0;    
    border: solid black 3px;
    margin-bottom: 0;
}

.navbar-brand {       
    padding-left: 0;  
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.navbar-brand h1 {    
    font-family: unset;
    font-size: 1.5em;
    color: white;   
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
}

.text-center {
    font-family: sans-serif;
    font-size: 38px;
    font-weight: bold;
    position: relative;
    margin-top: 55px;
}

#text {       
    margin: 10px;
    background-color: royalblue;
    font-family: serif;   
    position: relative;
}



#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: black;
    font-family: serif;
    font-weight: 100;
    background-color: green;
}

#nav-list a:hover {
    background-color: #darkred;   
}

.navbar-default .navbar-collapse {
    margin-top:0px;
    border: 0px;
    list-style-type: none;
}  