* {
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: ui-sans-serif, sans-serif;
    color:black;
    background-color: white;
    font-size: 20px;
}
h1{
    font-weight: bold;
    text-decoration-color: black;
    background-color: lightblue;
    align: center;
    position: center;
    font-size: 175%;
}

h2{
    font-weight: bold;
    text-align: center; 
    position: relative;
    text-color: solid black;
    background-color: white;
    font-size: 2em;
    font-family: ui-sans-serif, sans-serif;
    margin-top: 10px;
}
.head{
    margin-top: 20px;
    background-color: white;
    text-decloration-color: black;
    border-radius: 0;
    border: 0;    
    border: black 3px;
    margin-bottom: 0;
}
div.section{
    background-color: lightblue;
    text-decoration-color: white;
    border: black; solid 2px;
    width: 90%;
    margin: 5%;
}
.section-head h2{
    font-weight: normal;
    text-decloration-color: black;
    background-color: lightblue;
    align-content: center;
    position: relative;
    font-size: 20px;
}
div.section-head{
    border-top: 0px;
    border-right: 0px;
    float: center;
    text-align: center;
    position: center;
    text-decoration-color: white;
    font-size: 25px;
    width: auto px; align-text: center;
}
div.section-body{
    clear: right;
    padding: 10px;
    font-size: 20px;
    text-decoration-color: white;
}
.navbar{
    background-color: lightblue;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    text-decoration-color: white;
    align-content: center;
}
.navbar a{
    text-decoration: none;
    text-color: green;
}
.navbar-brand{
    padding-left: 5%;
    text color: white;
}
#collapsable-nav{
    background-color: white;
    text-align: center;
    border: solid 2px black;
    font-size: 1.5em;
}
.collapse li{
    width: 100%;
    text-align: center;
    border-bottom: solid 2px black;
    text-decoration-color: lightblue;
    background-color: white;
}
.navbar-toggler{
    margin: 15px;
}
.visible-xs{
    visibility: hidden;
}
@media (min-width: 992px){
    .col-lg-4{
        float: left;
        width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .col-md-6 {
        float: left;
        width: 50%;
      }
    .col-md-12 {
        float: left;
        width: 100%;
        margin-left: -20px;
        
    }
    .col-md-12>div.section{
        width: 95%;
    }
}
@media (min-width: 0px) and (max-width: 767px) {
    .col-sm-12 {
        float: left;
      width: 100%;
    }
    .visible-xs{
        visibility: visible;
    }
}

/***Link***/
#href a:link {
  color: blue;
  text-decoration: underline; 
}

#href a:vistited {
  color: blue;
  text-decoration: underline; 
}

 #href a:hover {
  color: blue;
  text-decoration: underline;
}

#href a:active {
  color: blue;
  text-decoration: underline;
  }
