* {
    box-sizing: border-box;
}

/****Header****/
#header-nav {
    background-color: black;
    text-decoration: none;
    border-radius: 0;
    border: 0;    
    border: black 3px;
    margin-bottom: 0;
}

/***Brand Name***/
.navbar-brand {       
    padding-left: 0;  
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.navbar-brand h1 {    
    font-family: unset;
    font-size: 1.5em;
    color: white;
    text-decoration:none;    
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
}

.text-center {
    font-family: sans-serif;
    font-size: 38px;
    font-weight: bold;
    position: relative;
    margin-top: 55px;
}

#text {       
    margin: 10px;
    background-color: darkred;
    font-family: serif;
    color: white;   
    position: relative;
}

/***Navigation List***/
#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: white;
    font-family: serif;
    font-weight: 100;
    background-color: darkolivegreen;
    border:black 3px;
}

#nav-list a:hover {
    background-color: forestgreen; 
}

.navbar-default .navbar-collapse {
    margin-top:0px;
    border: 0px;
    list-style-type: none;
}  

.navbar-default {padding: 20px null; position: fixed, null 0px 0px 0px
  transition: transform .5s $ease-in-out-quint
  }  

.nav.hidden {transform: translateY100%
}  




/***Link***/
#href a:link {
  color: blue;
  text-decoration: underline; 
}

#href a:vistited {
  color: blue;
  text-decoration: underline; 
}

 #href a:hover {
  color: blue;
  text-decoration: underline;
}

#href a:active {
  color: blue;
  text-decoration: underline;
  }